.dark-mode body {
     --body-brighter: #1a1e25;
     --body: #13161b;
     --body-darker: #101318;
     --h: #2fb5c7;
     --h2: #ff6e48;
     --text: #f8f8f8;
     --red: #ff3e55;
   
     --cf-orange-red: linear-gradient(90deg, rgba(255, 110, 72, 1) 0%, rgb(255, 75, 62) 100%);
     --cf-green-blue: linear-gradient(90deg, rgb(79, 198, 121) 0%, rgb(78, 186, 170) 100%);
     --cf-blue: linear-gradient(90deg, rgba(47, 181, 199, 1) 0%, rgba(139, 232, 215, 1) 100%);
   }
   
body {
     --body-brighter: #ffffff;
     --body: #f8f8f8;
     --body-darker: #f1f1f1;
     --h: #2fb5c7;
     --h2: #ff6e48;
     --text: #13161b;
     --red: #ff3e55;
   
     --cf-orange-red: linear-gradient(90deg, rgba(255, 110, 72, 1) 0%, rgb(255, 75, 62) 100%);
     --cf-green-blue: linear-gradient(90deg, rgb(79, 198, 121) 0%, rgb(78, 186, 170) 100%);
     --cf-blue: linear-gradient(90deg, rgba(47, 181, 199, 1) 0%, rgba(139, 232, 215, 1) 100%);
   }
   
   //rgba(118,208,143,1) 0%, rgba(78,186,154,1) 100%
   
   
   
   
   
   